.member {
  text-align: center;
  font-size: 14px;
  word-spacing: -2px;
  color: #fff;
  font-weight: bold;
  background-color: rgb(13, 99, 121);
  padding: 5px;
}

.nonMember {
  padding: 5px;
  text-align: center;
  font-size: 15px;
  word-spacing: -2px;
  color: #fff;
  font-weight: bold;
  background-color: rgb(56, 56, 56);
}

.leave {
  border: 2px solid rgb(238, 68, 68);
  background-color: transparent;
  color: rgb(238, 68, 68);
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
}

.join {
  border: 2px solid rgb(56, 56, 56);
  background-color: transparent;
  color: rgb(56, 56, 56);
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
}
